# Binärdateien ausschließen
*.exe
*.dll
*.so
*.dylib
*.jar
*.bin
*.o
*.a
*.lib
*.class

# Umgebungs- und Konfigurationsdateien ausschließen
.env
.venv

# Log-Dateien
*.log

# VS Code-Editor-Einstellungen ausschließen
.vscode/
*.code-workspace

# Python spezifisch
__pycache__/

# UML-Ausgaben nicht ins Repo
uml_data/

# Ignore tarballs
*.tar.gz
